body{

    background-color: blueviolet;
}

h1{

    text-align: center;
    color: azure;

}

.products{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

h4{
    color: brown;


}

.footer
{
    display: flex;
     background-color: aqua;



}
.footer1
{
    display: flex;

    margin-left: 1000px;
}